CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
server_output.txt
client_output.txt
other_client_output.txt
avg.txt
match.txt
avg
avg.dSYM/
.DS_Store
.vscode/

